*.csv
*.pkl
venv/
proto/
__pycache__/
node_modules/
*.jpg
*.jpeg
*.png
.cursor/
.env
.vscode/
pos-backend/.env
pos-app-gateway/.env
pos-frontend/.env.local
ml-logic/.env

pos-backend/wallet/

pos-backend/node_modules/
pos-app-gateway/node_modules/
pos-app-gateway/dist/
pos-frontend/node_modules/
pos-frontend/.next/
ml-logic/.venv/
*.log
